#outbox {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#pokeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

#pokemonItem {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 200px;
    min-height: 200px;
}

button {
    min-width: 200px;
    min-height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}