<div id="outbox">
    <div id="pokeList">
        <div *ngFor="let pokemon of pokemons; let i=index" id="pokemonItem">
            <app-pokemon-list-item [pokemon]="pokemon"></app-pokemon-list-item>
        </div>
    </div>
    
    <button (click)="getNextPokemons()"><h3>Get more pokemons</h3></button>
</div>
