img {
    width: 150px;
    transition-duration: 1.5s;
}

img:hover {
    transform: rotateY(180deg);
    transition-duration: 0.01s;
}

button {
    min-width: 100%;
    min-height: 100%;
}

button:hover {
    min-width: 100%;
    min-height: 100%;
    cursor: pointer;
}