<h2>Pokestats</h2>
<p *ngFor="let type of pokeInfo.types; let i = index">Type: {{type.type.name | titlecase}}</p>
<h2>Base stats</h2>
<p *ngFor="let baseStat of pokeInfo.stats">{{baseStat.stat.name.charAt(0).toUpperCase() + baseStat.stat.name.slice(1).replace("-", " ")}}: {{baseStat.base_stat}}</p>