<div *ngIf="pokemon" id="container">
    <h1>{{pokemon.name | titlecase}}</h1>
    <img [src]="pokeStat.image">

    <div id="containerRow">
        <app-pokemon-stats [pokeInfo]="pokeStat" class="pokeInfo"></app-pokemon-stats>
        <app-pokemon-profile [pokeInfo]="pokeProfil" class="pokeInfo"></app-pokemon-profile>
        <app-pokemon-moves [pokeInfo]="pokeMoves" class="pokeInfo"></app-pokemon-moves>
    </div>
   
</div>