#container {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#containerRow {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1{
    align-self: center;
    margin-top: 20px;
}

img {
    width: 150px;
    align-self: center;
    transition-duration: 1.5s;
}

img:hover {
    transform: rotateY(180deg);
    align-self: center;
    transition-duration: 0.01s;
}

.pokeInfo {
    margin: 35px;
}