<h2>Atributes</h2>
<p>Height: {{pokeInfo.height}}</p>
<p>Weight: {{pokeInfo.weight}}</p>
<p>Base Experience: {{pokeInfo.base_experience}}</p>
<h2>Abilities</h2>
<p *ngFor="let ability of pokeInfo.abilities; let i = index">Ability {{i + 1}}: {{ability.ability.name.charAt(0).toUpperCase() + ability.ability.name.slice(1).replace("-", " ")}}</p>